.offer-page {
  background-color: lightgray;
  width: 100%;
  height: 100vh;
}
.article-container {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
}
.article-img,
.article-detail {
  width: 400px;
  height: 600px;
}
.article-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article-detail {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: space-between;
}
.article-detail .price {
  font-weight: bold;
  font-size: 30px;
}
.offer-detail {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.offer-detail-line {
  display: flex;
  gap: 60px;
}
.offer-detail span:first-child {
  flex: 1.5;
  color: gray;
}
.offer-detail span:last-child {
  flex: 2;
  font-weight: bold;
}
.line {
  border: 1px lightgray solid;
}
.underline-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product-title {
  font-weight: bold;
  font-size: 24px;
}
.product-description {
  font-size: 18px;
  color: gray;
}
.seller-info {
  display: flex;
  align-items: center;
  gap: 20px;
}
.seller-info img {
  height: 75px;
  width: 75px;
  object-fit: cover;
  border-radius: 90px;
}
.buy-btn {
  height: 40px;
  background-color: #09aeb6;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.buy-btn button {
  cursor: pointer;
  border: none;
  font-size: 20px;
  color: white;
  background-color: transparent;
}
