.header {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}
.header-middle {
  display: flex;
  flex-direction: column;
  width: 55%;
  gap: 10px;
}
.search-bar {
  display: flex;
  align-items: center;
  background-color: lightgray;
  padding: 0 10px 0 15px;
  border-radius: 5px;
}
.search-bar img {
  height: 35px;
}
.search-bar input {
  height: 30px;
  width: 100%;
  border: none;
  color: gray;
  background-color: lightgray;
}
.search-bar input:focus {
  outline: none;
}
.header-button {
  display: flex;
  gap: 10px;
}
.header-button button {
  height: 40px;
  padding: 0 10px 0 10px;
  border-radius: 5px;
  background-color: white;
  border: none;
}
.header-button .signup,
.header-button .login {
  border: #09aeb6 1px solid;
  color: #09aeb6;
}
.header-button .sell-now {
  background-color: #09aeb6;
  color: white;
}
.header-button .disconect {
  background-color: darkred;
  color: white;
}
.close-modal {
  position: absolute;
  border: none;
  font-size: 20px;
  top: 25px;
  right: 25px;
  background-color: white;
  width: 30px;
  height: 30px;
}
.price-filter {
  margin-top: 15px;
  display: flex;
  width: 100%;
}
