.header {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-bar {
  display: flex;
  align-items: center;
  background-color: lightgray;
  padding: 0 10px 0 15px;
  border-radius: 5px;
  width: 55%;
}
.search-bar img {
  height: 35px;
}
.search-bar input {
  height: 30px;
  width: 100%;
  border: none;
  color: gray;
  background-color: lightgray;
}
.search-bar input:focus {
  outline: none;
}
.header-button {
  display: flex;
  gap: 10px;
}
.header-button button {
  height: 40px;
  padding: 0 10px 0 10px;
  border-radius: 5px;
  background-color: white;
  border: none;
}
.header-button .signup,
.header-button .login {
  border: #09aeb6 1px solid;
  color: #09aeb6;
}
.header-button .sell-now {
  background-color: #09aeb6;
  color: white;
}
.header-button .disconect {
  background-color: darkred;
  color: white;
}
