.login-form {
  display: flex;
  align-items: center;
  margin-top: 100px;
  flex-direction: column;
  padding: 0 40px;
  width: 300px;
  height: 350px;
}
.login-form h1 {
  font-size: 36px;
  font-weight: bold;
}
.login-form form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.login input {
  border: none;
  border-bottom: darkred solid 1px;
  padding-bottom: 5px;
  height: 30px;
  width: 100%;
  color: gray;
  margin-bottom: 10px;
}
.login input:focus {
  outline: none;
}
.login-btn {
  height: 40px;
  border: none;
  background-color: #09aeb6;
  color: white;
  width: 100%;
  cursor: pointer;
}
.link-signup {
  padding-top: 20px;
  color: #09aeb6;
  text-decoration: none;
  cursor: pointer;
}
